.plan-cart-summary {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &__number {
    font: normal normal bold 25px/33px Roboto;
    color: #000000;
    white-space: nowrap;
    &_small {
      font: normal normal bold 22px/33px Roboto;
      color: #000000;
    }
  }
  &__shipping-text {
    font: normal normal normal 18px/24px Roboto;
    color: #000000;
  }
  &-box {
    padding: 17px 39px 21px 40px;
    height: 100%;
    background: rgba(239, 182, 15, 0.06) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
  }
}
